fastapi[standard]
uvicorn
sqlalchemy
pymysql
cryptography
python-dotenv
pandas
numpy
pydantic
streamlit
requests
qrcode
pillow
opencv-python-headless
plotly
faker
wordcloud 
matplotlib
python-jose[cryptography]
argon2-cffi
python-multipart